.modal-gallery {
  z-index: 102;
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  grid-gap: 8px;
  overflow: hidden;
  overflow-y: scroll;
  height: 80%;
  width: 99%;
  border: 8px solid white;
  border-radius: 8px;
  justify-content: center;
  /* margin: 8px 8px 8px 8px; */
}
.two-row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}
.three-row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}
.one-row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}
.two-right-photo {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
  max-width: 49%;
  margin-right: 8px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 8px;
}
.two-left-photo {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
  max-width: 49%;
  flex-direction: row;
  overflow: hidden;
  cursor: pointer;
  margin-right: 8px;
  margin-bottom: 8px;
}
.three-left-photo {
  -ms-flex: 33%; /* IE10 */
  flex: 33%;
  max-width: 32.5%;
  justify-content: center;
  align-items: center;
  /* max-width: 32.8%;
  max-height: 379px; */
  object-fit: cover;
  margin-right: 8px;
  margin-bottom: 8px;
  cursor: pointer;
}
.three-middle-photo {
  -ms-flex: 33%; /* IE10 */
  flex: 33%;
  max-width: 32.5%;
  /* max-width: 32.8%;
  max-height: 379px; */
  object-fit: cover;
  margin-right: 8px;
  margin-bottom: 8px;
  cursor: pointer;
}
.three-right-photo {
  -ms-flex: 33%; /* IE10 */
  flex: 33%;
  max-width: 32.5%;
  justify-content: center;
  align-items: center;
  /* max-width: 32.9%;
  max-height: 379px; */
  object-fit: cover;
  margin-bottom: 8px;
  cursor: pointer;
}
.one-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 8px;
  height: auto;
  cursor: pointer;

}